{% extends 'dags_base.html' %}

{% block head %}
    {{ super() }}
    <link href='/static/css/dataTables.bootstrap.css' rel="stylesheet" type="text/css" >
{% endblock head %}

{% block dags %}
    {{ super() }}
    {% for project_name, dag_list in all_dags.items() %} 
        <ul class="current">
            <li class="toctree-l1 current"><a class="current reference internal" href="#"><span class="toctree-expand"></span>{{ project_name }}</a>
            <ul>
                {% for dag_name in dag_list %}
                <li class="toctree-l2"><a class="reference internal" href="#dags-view">{{ dag_name }}</a></li>
                {% endfor %}
            </ul>
            </li>
        </ul>
    {% endfor %}
{% endblock dags %}

{% block body %}
    {{ super() }}
    <div class='page-header'>
        <h3>流程列表</h3>
    </div>
    <div>
        <table id="dags" class="dags-table table table-hover">
            <thead>
                <tr>
                    <th>所属项目</th>
                    <th>流程名称</th>
                    <th>状态</th>
                    <th>启动时间</th>
                    <th>结束时间</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        </div>
        <div>
           <ul class="pagination">
            </ul> 
        </div>
    </div>
{% endblock body %}

{% block tail %}
    {{ super() }}
    <script src='/static/js/d3.v3.min.js'></script>
{% endblock %}
