{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link href='/static/css/dataTables.bootstrap.css' rel="stylesheet" type="text/css" >
    <link href='/static/css/bootstrap-toggle.min.css' rel="stylesheet" type="text/css">
{% endblock head %}

{% block body %}
    {{ super() }}
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
        <div class="project-search">
            <input type="text" class="form-control input-sm" placeholder="Search dag">
        </div>
        <ul class="current">
            <li class="toctree-l1 current"><a class="current reference internal" href="#"><span class="toctree-expand"></span>UI / Screenshots</a>
            <li class="toctree-l1 current"><a class="current reference internal" href="#"><span class="toctree-expand"></span>UI / Screenshots</a>
            <li class="toctree-l1 current"><a class="current reference internal" href="#"><span class="toctree-expand"></span>UI / Screenshots</a>
            <li class="toctree-l1 current"><a class="current reference internal" href="#"><span class="toctree-expand"></span>UI / Screenshots</a>
            <li class="toctree-l1 current"><a class="current reference internal" href="#"><span class="toctree-expand"></span>UI / Screenshots</a>
            <li class="toctree-l1 current"><a class="current reference internal" href="#"><span class="toctree-expand"></span>UI / Screenshots</a>
            <li class="toctree-l1 current"><a class="current reference internal" href="#"><span class="toctree-expand"></span>UI / Screenshots</a>
            <li class="toctree-l1 current"><a class="current reference internal" href="#"><span class="toctree-expand"></span>UI / Screenshots</a>
            <li class="toctree-l1 current"><a class="current reference internal" href="#"><span class="toctree-expand"></span>UI / Screenshots</a>
            <li class="toctree-l1 current"><a class="current reference internal" href="#"><span class="toctree-expand"></span>UI / Screenshots</a>
            <li class="toctree-l1 current"><a class="current reference internal" href="#"><span class="toctree-expand"></span>UI / Screenshots</a>
            <li class="toctree-l1 current"><a class="current reference internal" href="#"><span class="toctree-expand"></span>UI / Screenshots</a>
            <li class="toctree-l1 current"><a class="current reference internal" href="#"><span class="toctree-expand"></span>UI / Screenshots</a>
            <li class="toctree-l1 current"><a class="current reference internal" href="#"><span class="toctree-expand"></span>UI / Screenshots</a>
            <li class="toctree-l1 current"><a class="current reference internal" href="#"><span class="toctree-expand"></span>UI / Screenshots</a>
            <li class="toctree-l1 current"><a class="current reference internal" href="#"><span class="toctree-expand"></span>UI / Screenshots</a>
        </ul>
    </nav>
{% endblock body %}

{% block tail %}
    {{ super() }}
    <script src='/static/js/d3.v3.min.js'></script>
    <script src='/static/js/jquery.dataTables.min.js'></script>
    <script src='/static/js/bootstrap-toggle.min.js'></script>
{% endblock %}
