<!doctype html>
<head>
{% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}Taskflow{% endblock title %}</title>
  <meta name="description" content="Taskflow is Distributed task scheduling system">
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">  
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-toggle.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
{% endblock head %}
</head>

<body>
  {% block navbar %}
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
     <div class='container'>
      <div class="collapse navbar-collapse" id="admin-navbar-collapse">
	    <a class='navbar-brand' href={{ url_for('index_route') }}>Taskflow</a>
	    <ul id='navbar-left' class='nav navbar-nav'>
          <li id='DAG'><a href={{ url_for('jobs') }}>DAG</a></li>
          <li id='MachineList'><a href={{ url_for('jobs') }}>MchineList</a></li>
          <li id='Configuration'><a href={{ url_for('jobs') }}>Configuration</a></li>
	    </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a id="clock"></a></li>
              {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}"><span data-toggle="tooltip" data-placement="left" title="Logout"></span>Logout</a></li>
              {% endif %}
        </ul>
      </div>
      </div>
  </nav>
  {% endblock navbar %}

  <div class='container'>
  {% block content %}
  {% endblock content %}
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/lib/Kickstrap1.3.0/Kickstrap/js/jquery-1.8.2.min.js"><\/script>');</script>
  <script src="/static/lib/Kickstrap1.3.2/Kickstrap/apps/bootstrap/bootstrap.min.js"></script>
  <script src="/static/js/navbar.js"></script>
  {% block body_scripts %}
  {% endblock body_scripts %}
</body>
</html>
