{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link href='/static/css/dataTables.bootstrap.css' rel="stylesheet" type="text/css" >
    <link href='/static/css/bootstrap-toggle.min.css' rel="stylesheet" type="text/css">
{% endblock head %}

{% block content %}
  <h2>DAGs</h2>
{% endblock content %}

{% block tail %}
  {{ super() }}
  <script src='/static/js/d3.v3.min.js'></script>
  <script src='/static/js/jquery.dataTables.min.js'></script>
  <script src='/static/js/bootstrap-toggle.min.js'></script>
{% endblock %}
