<!doctype html>
<head>
{% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}Taskflow{% endblock title %}</title>
  <meta name="description" content="Taskflow is Distributed task scheduling system">
  <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/bootstrap-theme.css" type="text/css">
  <link rel="stylesheet" href="/static/css/bootstrap-toggle.min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/base.css" type="text/css">
  <link rel="stylesheet" href="/static/css/dags_base.css" type="text/css">
{% endblock head %}
</head>

<body>
    <div class="container">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse">
                      <span class="sr-only">taskflow navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" rel="home" href="{{ url_for("dags") }}" style="cursor: pointer;">
                      <img style="float: left; width:35px; margin-top: -7px;" src="/static/img/navbar_logo.png">
                      <span>Taskflow</span>
                  </a>
              </div>
              <!-- navbar content -->
              <div class="collapse navbar-collapse" id="admin-navbar-collapse">
                  <ul id="navbar-left" class="nav navbar-nav">
                      {% if all_dags_active %}
                      <li id="all_dags" class="active"><a href={{ url_for("dags") }}>流程列表</a></li>
                      {% else %}
                      <li id="all_dags"><a href={{ url_for("dags") }}>流程列表</a></li>
                      {% endif %}
                      {% if new_project_active %}
                      <li id="new_project" class="active"><a href={{ url_for("new_project") }}>新建项目</a></li>
                      {% else %}
                      <li id="new_project"><a href={{ url_for("new_project") }}>新建项目</a></li>
                      {% endif %}
                      {% if new_dag_active %}
                      <li id="new_dag" class="active"><a href={{ url_for("new_dag") }}>新建流程</a></li>
                      {% else %}
                      <li id="new_dag"><a href={{ url_for("new_dag") }}>新建流程</a></li>
                      {% endif %}
                      {% if permission_active %}
                      <li id="permission" class="active"><a href={{ url_for("permission") }}>权限管理</a></li>
                      {% else %}
                      <li id="permission"><a href={{ url_for("permission") }}>权限管理</a></li>
                      {% endif %}
                      {% if help_active %}
                      <li id="help" class="active"><a href={{ url_for("help") }}>帮助</a></li>
                      {% else %}
                      <li id="help"><a href={{ url_for("help") }}>帮助</a></li>
                      {% endif %}
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      {% if page_type and page_type == "login" %}
                      <li><a href="{{ url_for("register") }}"><span data-toggle="tooltip" data-placement="left" title="Register"></span>Register</a></li>
                      {% elif page_type and page_type == "register" %}
                      <li><a href="{{ url_for("login") }}"><span data-toggle="tooltip" data-placement="left" title="Login"></span>Login</a></li>
                      {% else %}
                      <li>
                        <a>
                            <span data-toggle="tooltip" data-placement="left" title="username"></span>{{ current_user.username }}
                        </a>
                      </li>
                      <li>
                        <a href="{{ url_for("logout") }}"><span data-toggle="tooltip" data-placement="left" title="Logout"></span>Logout</a>
                      </li>
                      {% endif %}
                  </ul>
              </div>
          </div>
      </nav>
    </div>
    <div class="main_container">
        <nav data-toggle="wy-nav-shift" class="wy-nav-side">
            <div class="project-search">
                <ul class="nav nav-tabs" id="myTab"> 
                    <li class="active"><a href="{{ url_for("get_my_dags") }}">我的流程</a></li> 
                    <li><a href="{{ url_for("get_all_dags") }}">所有流程</a></li> 
                </ul> 
            </div>
            <div>
                {% block dags %}
                {% endblock dags %}
            </div>
        </nav>
        {% block body %}
        {% endblock body %}
    </div>
  </div>

  {% block tail %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/static/js/bootstrap-toggle.min.js"></script>
  {% endblock tail %}
</body>
</html>
