.col-center-block {  
    float: none;  
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
}

.wy-nav-side {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    padding-bottom: 2em;
    width: 15%;
    min-height: 100%;
}

#nav-side-tab {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#nav-side-dags {
    height: 80%;
    overflow:auto; 
}

.main_container {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 17%;
    padding-bottom: 2em;
    width: 100%;
    min-height: 100%;
    z-index: 200;
}

.dags-table {
    width: 80%;
    padding-bottom: 20px;
}

